@{
     ViewBag.Title = "About";
}

<div id="s5_component_wrap" style="padding:20px;">
     <div id="s5_component_wrap_inner">
          <main>
               <meta itemprop="inLanguage" content="en-En">
               <div class="page-header">
                    <h1 itemprop="headline">
                         About
                    </h1>
               </div>

               <img src="https://s01.sgp1.cdn.digitaloceanspaces.com/article/153407-zvqlnkxiyk-1610723819.jpg" class="img-fluid" alt="Barca logo">

               <div itemprop="articleBody">
                    <p style="font-size: 14px;">
                         <strong>
                              Objectives:
                         </strong><br>&nbsp;<br>
                         This site is made by Barcelona fans for Barcelona fans. We give you the opportunity to get acquainted with the latest and most relevant news
                         regarding the club, as well as offer the opportunity to communicate on the forum.
                    </p>
                    <p style="font-size: 14px;">
                         <br>
                         Our main goal is to unite all the English-speaking fans of Barcelona, ​​we do not divide users into categories and groups - we just give the opportunity & nbsp; to communicate & nbsp; Barca fans from different countries. Already now on the forum you can see the fans & nbsp; from Russia, Ukraine, Belarus, Kazakhstan, Armenia, Bulgaria, USA, Estonia, Georgia, Azerbaijan and many other countries.
                    </p>
                    <p style="font-size: 14px;">
                         <br>&nbsp;<br>&nbsp;<br>
                         <strong>
                              The team, site and content:
                         </strong><br>&nbsp;<br>&nbsp; &nbsp; &nbsp;
                         The site's team consists of regular fans who use their skills to benefit the project. We are always open to suggestions and wishes, if you want to join our ranks - we will definitely consider your application.
                    </p>
               </div>
          </main>
     </div>
</div>

