@{
     ViewBag.Title = "Privacy";
}

<div id="s5_component_wrap" style="padding:35px;">
     <div id="s5_component_wrap_inner">
          <main>
               <div id="system-message-container">
               </div>

               <div class="item-page" itemprop="author" itemtype="https://schema.org/Article">
                    <meta itemprop="inLanguage" content="en-EN">

                    <div class="page-header">
                         <h1 itemprop="headline">
                              Personal data processing policy
                         </h1>
                    </div>

                    <div itemprop="articleBody">
                         <ol>
                              <li>
                                   <strong>General Provisions</strong><br>
                                   <p>
                                        This personal data processing policy has been drawn up in accordance with the requirements of the Federal Law of July 27, 2006. № 152-FЗ "On personal data" and determines the procedure for processing personal data and measures to ensure the security of personal data https://localhost:44366/ (hereinafter - the Operator).
                                   </p>
                                   <ol>
                                        <li>
                                             The operator sets as its most important goal and condition for the implementation of its activities the observance of the rights and freedoms of a person and citizen when processing his personal data, including the protection of the rights to privacy, personal and family secrets.
                                        </li>
                                        <li>
                                             This Operator's policy regarding the processing of personal data (hereinafter referred to as the Policy) applies to all information that the Operator can obtain about visitors to the website <a href="https://localhost:44366/">https://localhost:44366/</a>.
                                        </li>
                                   </ol>
                              </li>
                              <li>
                                   <strong>Basic concepts used in the Policy</strong><br>
                                   <ol>
                                        <li>
                                             Automated processing of personal data - processing of personal data using computer technology;
                                        </li>
                                        <li>
                                             Blocking of personal data - temporary termination of the processing of personal data (except for cases where processing is necessary to clarify personal data);
                                        </li>
                                        <li>
                                             Website - a set of graphic and information materials, as well as computer programs and databases, ensuring their availability on the Internet at the network address <a href="https://localhost:44366/">https://localhost:44366/</a>;
                                        </li>
                                        <li>
                                             Personal data information system - a set of personal data contained in databases, and providing their processing of information technologies and technical means;
                                        </li>
                                        <li>
                                             Depersonalization of personal data - actions as a result of which it is impossible to determine, without the use of additional information, the belonging of personal data to a specific User or other subject of personal data;
                                        </li>
                                        <li>
                                             Processing of personal data - any action (operation) or a set of actions (operations) performed using automation tools or without using such tools with personal data, including collection, recording, systematization, accumulation, storage, clarification (update, change), extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data;
                                        </li>
                                        <li>
                                             Operator - a state body, municipal body, legal or natural person, independently or jointly with other persons organizing and (or) carrying out the processing of personal data, as well as determining the purposes of processing personal data, the composition of personal data to be processed, actions (operations) performed with personal data;
                                        </li>
                                        <li>
                                             Personal data - any information relating directly or indirectly to a specific or identifiable User of the website 
                                             <a href="https://localhost:44366/">
                                                  https://localhost:44366/
                                             </a>;
                                        </li>
                                        <li>
                                             User - any visitor to the website 
                                             <a href="https://localhost:44366/">
                                                  https://localhost:44366/
                                             </a>;
                                        </li>
                                        <li>
                                             Provision of personal data - actions aimed at disclosing personal data to a certain person or a certain circle of persons;
                                        </li>
                                        <li>
                                             Dissemination of personal data - any actions aimed at disclosing personal data to an indefinite circle of persons (transfer of personal data) or at acquaintance with the personal data of an unlimited number of persons, including the disclosure of personal data in the media, posting on information and telecommunication networks or providing access to personal data in any other way;
                                        </li>
                                        <li>
                                             Cross-border transfer of personal data - transfer of personal data to the territory of a foreign state to the authority of a foreign state, to a foreign individual or foreign legal entity;
                                        </li>
                                        <li>
                                             Destruction of personal data - any actions as a result of which personal data are destroyed irrevocably with the impossibility of further restoring the content of personal data in the personal data information system and (or) as a result of which material carriers of personal data are destroyed.
                                        </li>
                                   </ol>
                              </li>
                              <li>
                                   <strong>The Operator can process the following personal data of the User</strong><br>
                                   <ol>
                                        <li>
                                             Email address;
                                        </li>
                                        <li>
                                             year, month and date of birth, city, ip-address;
                                        </li>
                                        <li>
                                             reCAPTCHA and its derivatives integrates with Google's reCAPTCHA system as an anti-spam service. As part of this service, the IP address of the user answering the captcha call is transmitted to Google;
                                        </li>
                                        <li>
                                             The site also collects and processes anonymized data about visitors (including cookies) using Internet statistics services (Yandex Metrica and Google Analytics and others).
                                        </li>
                                        <li>
                                             The above data hereinafter in the text of the Policy are united by the general concept of Personal data.
                                        </li>
                                   </ol>
                              </li>
                              <li>
                                   <strong>
                                        Purposes of processing personal data
                                   </strong><br>
                                   <ol>
                                        <li>
                                             The purpose of processing the User's personal data is to inform the User by sending emails; providing the User with access to services, information and / or materials contained on the website.
                                        </li>
                                        <li>
                                             Also, the Operator has the right to send the User notifications about new products and services, special offers and various events. The User can always unsubscribe from receiving informational messages by sending a letter to the Operator to the email address <span id="cloak43e4b892d2306bf0fca236bc536f5d01"> <a href="mailto:info_barca@mail.ru"> info_barca@mail.ru </a> </span>
                                        </li>
                                        <li>
                                             Anonymized User data collected using Internet statistics services are used to collect information about the actions of Users on the site, improve the quality of the site and its content.
                                        </li>
                                   </ol>
                              </li>
                              <li>
                                   <strong>
                                        Legal basis for the processing of personal data
                                   </strong><br>
                                   <ol>
                                        <li>
                                             The Operator processes the User's personal data only if it is filled in and / or sent by the User independently through special forms located on the website https://localhost:44366/. By filling out the appropriate forms and / or sending his personal data to the Operator, the User agrees with this Policy.
                                        </li>
                                        <li>
                                             The Operator processes the User's personal data only if it is filled in and / or sent by the User independently through special forms located on the website https://localhost:44366/. By filling out the appropriate forms and / or sending his personal data to the Operator, the User agrees with this Policy.
                                        </li>
                                   </ol>
                              </li>
                              <li>
                                   <strong>
                                        The procedure for collecting, storing, transferring and other types of processing of personal data
                                   </strong><br>
                                   <p>
                                        The security of personal data processed by the Operator is ensured through the implementation of legal, organizational and technical measures necessary to fully comply with the requirements of the current legislation in the field of personal data protection.
                                   </p>
                                   <ol>
                                        <li>
                                             The operator ensures the safety of personal data and takes all possible measures to exclude access to personal data of unauthorized persons.
                                        </li>
                                        <li>
                                             The User's personal data will never, under any circumstances, be transferred to third parties, except in cases related to the implementation of the current legislation.
                                        </li>
                                        <li>
                                             In case of revealing inaccuracies in personal data, the User can update them independently by sending a notification to the Operator to the Operator's email address.
                                             <span id="cloak7b4d4001c91470bcab26d82c12159b83"><a href="mailto:info_barca@mail.ru">info_barca@mail.ru</a></span>
                                             marked "Updating personal data".
                                        </li>
                                        <li>
                                             The period for processing personal data is unlimited. The User can at any time withdraw his consent to the processing of personal data by sending a notification to the Operator via e-mail to the Operator's email address <span id="cloak8a6330118850f04d1424c541061541f7"> <a href="mailto:info_barca@mail.ru"> info_barca@mail.ru </a> </span>

                                        </li>
                                   </ol>
                              </li>
                              <li>
                                   <strong>
                                        Cross-border transfer of personal data
                                   </strong><br>
                                   <ol>
                                        <li>
                                             Before starting the cross-border transfer of personal data, the operator is obliged to make sure that the foreign state, to whose territory it is supposed to transfer personal data, provides reliable protection of the rights of subjects of personal data.
                                        </li>
                                        <li>
                                             Cross-border transfer of personal data on the territory of foreign states that do not meet the above requirements can be carried out only if the subject of personal data has consent in writing to the cross-border transfer of his personal data and / or the execution of an agreement to which the subject of personal data is a party.
                                        </li>
                                   </ol>
                              </li>
                              <li>
                                   <strong>
                                        Final provisions
                                   </strong><br>
                                   <ol>
                                        <li>
                                             The user can receive any clarifications on issues of interest regarding the processing of his personal data by contacting the Operator via e-mail
                                             <span id="cloak56be6847d5354e364f41f83ddd04882e"><a href="mailto:info_barca@mail.ru">info_barca@mail.ru</a></span>

                                        </li>
                                        <li>
                                             This document will reflect any changes in the personal data processing policy by the Operator. The policy is valid indefinitely until it is replaced by a new version.
                                        </li>
                                        <li>
                                             The current version of the Policy is freely available on the Internet at <a href="https://localhost:44366/Home/Privacy">https://localhost:44366/Home/Privacy</a>
                                        </li>
                                   </ol>
                              </li>
                         </ol>
                         <p></p>
                    </div>

                    <dl class="article-info muted">
                    </dl>


               </div>

               <div style="clear:both;height:0px"></div>
          </main>


          <div id="s5_below_body_wrap">

               <div id="s5_below_body">
                    <div id="s5_below_body_inner">

                         <div id="s5_pos_below_body_1" class="s5_float_left" style="width:100%">
                              <div class="s5_fourdivs_1">
                                   <div class="s5_fourdivs_2">
                                        <div class="s5_fourdivs_3">
                                             <div class="s5_fourdivs_4">


                                                  <div class="custom">


                                                       <div id="yandex_rtb_R-A-65101-9">&nbsp;</div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>






                         <div style="clear:both; height:0px"></div>

                    </div>
               </div>
          </div>


     </div>
</div>