<style>
     #hidden{
          width:300px;
          height:100px;
          background-color:white;
          position:relative;
          bottom:100px;
          left:20%;
     }
</style>



     <div style="height:100%; margin-bottom:-11%">
          <img src="@ViewBag.Path" height="100%" width="81%" alt="Statistics" style="border-radius: 30px;" />
          <div id="hidden"></div>
     </div>
     
